@media screen and (min-width: 1224px){
  .navbar-static-top
  {
    position: fixed;
    margin: 0px 0px 0px px;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    border-bottom: 1px solid #48cfad;
  }

  .head-section
  {
      margin-bottom: 95px;
  }
}

.terms-cond
{
  line-height: 17px;
  font-size: 12px;
}
.page-footer {
    padding: 0% 1%;
}


  .logo
  {
    width: 95px;
    height: 95px;
    padding: 4px;
  }

  input.ng-invalid 
  {
    border-color: pink;
  }
  input.ng-valid 
  {
    border-color: lightgreen;
  }

  textarea.ng-invalid 
  {
    border-color: pink;
  }
  textarea.ng-valid 
  {
    border-color: lightgreen;
  }

  input
  {
    width: 100%; 
  }

    /* Desktops and laptops ---------- */
  @media screen and (min-width: 1224px)
  {
    .nav-logo
    {
        position: absolute;
        top: 29px;
        left: 133px;
        font-size: 19px;
    }
  }

