

.mask p
{
  color: white;
  margin-bottom: 0px;

}

.mask .offering-heading
{
    padding: 3px;
    font-weight: bold;
}

.mask .offering-description
{
  text-align: left;
  padding: 10px;
}
.view-tenth
{
    height: 17.75em;
}

#owl-demo .item img
{
  height: 17.75em;
}

.products-heading
{
  text-align: center;
}

#sequence .animate-in .info , #sequence .animate-in .info
{
  color:white;
}

  #sequence .info 
  {
    color: #dcd8d8;
  }

  #sequence
  {
    background: url(../../img/seq-slider/bg-sky.png) repeat-x #c967e8;
  }

    #sequence .balloon {
    left: -120%;
    top: 150px;
    max-width: 40%;
    z-index: 6;
    -webkit-transition-property: left top;
    -moz-transition-property: left top;
    -ms-transition-property: left top;
    -o-transition-property: left top;
    transition-property: left top; }