<!DOCTYPE html>
<html lang="en"  class="no-js">
  <head>
      <meta charset="utf-8">
      <title>Techprometheon</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

      <title>
        Prometheon | Home
      </title>
      <link rel="shortcut icon" href="asset/images/logo.png">

      <!-- Bootstrap core CSS -->
      <link href="external/css/bootstrap.min.css" rel="stylesheet">
      <link href="external/css/theme.css" rel="stylesheet">
      <link href="external/css/bootstrap-reset.css" rel="stylesheet">
      <!-- <link href="css/bootstrap.min.css" rel="stylesheet">-->

      <!--external css-->
      <link href="external/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
      <link rel="stylesheet" href="external/css/flexslider.css"/>
      <link href="external/assets/bxslider/jquery.bxslider.css" rel="stylesheet" />
      <link rel="stylesheet" href="external/css/animate.css">
      <link rel="stylesheet" href="external/assets/owlcarousel/owl.carousel.css">
      <link rel="stylesheet" href="external/assets/owlcarousel/owl.theme.css">

          <link rel="stylesheet" href="external/css/seq-slider/sequencejs-theme.sliding-horizontal-parallax.css" />

      <link href="external/css/superfish.css" rel="stylesheet" media="screen">
      <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
      <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->


      <!-- Custom styles for this template -->
      <link rel="stylesheet" type="text/css" href="external/css/component.css">
      <link href="external/css/style.css" rel="stylesheet">
      <link href="external/css/style-responsive.css" rel="stylesheet" />

      <link rel="stylesheet" type="text/css" href="external/css/parallax-slider/parallax-slider.css" />
      <script type="text/javascript" src="external/js/parallax-slider/modernizr.custom.28468.js">
      </script>

      <script type="text/javascript" src="js/index.js"></script>
      <link rel="stylesheet" href="css/index.css">
      <link rel="stylesheet" href="css/application.css">

  </head>
  <body ng-app="myApp" ng-controller="myCtrl">
    <!--header start-->
    <header class="head-section">
      <div class="navbar navbar-default navbar-static-top">
          <div class="navbar-header">
              <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="index.html"><img src="asset/images/logo.png" class="logo" alt="Logo">
                <a class="navbar-brand nav-logo" href="index.html">Tech <span>Prometheon</span>
                </a>
              </a>
            </div>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li ng-click="animateDown('About')">
                      <a>About Us</a>
                  </li>
                  <li ng-click="animateDown('Product')">
                      <a >Products</a>
                  </li>
                  <li ng-click="animateDown('Offering')">
                      <a >Offerings</a>
                  </li>
                  <li ng-click="animateDown('Faq')">
                      <a>Support/FAQ</a>
                  </li>
                  <li ng-click="animateDown('Service')">
                      <a>Services</a>
                  </li>
                  <li ng-click="animateDown('Contact')">
                      <a href="html/contact.html">Contact</a>
                  </li>

              </ul>
          </div>
      </div>
    </header>
    <!--header end-->

        <!-- Sequence Modern Slider -->
    <!-- <div id="sequence-theme" class="sequence-inner">
      <div id="sequence">
        <img class="sequence-prev" src="external/img/seq-slider/bt-prev.png" alt="Previous" style="display: inline;">
        <img class="sequence-next" src="external/img/seq-slider/bt-next.png" alt="Next" style="display: inline;">

        <ul class="sequence-canvas">
          
          <li class="animate-out" style="display: list-item; z-index: 1;">
            <div class="info" style="">
              <h2>
                  Cutting edge and capabilities to build quality products and position them well in market! 
              </h2>
              
            </div>
            <img class="sky" src="asset/images/mainImage.jpg" alt="Main Image" style="">
            <img class="balloon" src="asset/images/IoTCompanyWhiteCity.png" alt="Balloon" style="width:100% ; height:85%">
          </li> 
          
          <li class="animate-out" style="display: list-item; z-index: 1;">
            <div class="info" style="">
              <h2>
                Perfect mix of business savvy and tech genius team!!
              </h2>
              
            </div>
            <img class="sky" src="asset/images/mainImage.jpg" alt="Main Image" style="">
            <img class="balloon" src="asset/images/IoTCompanyWhiteCity.png" alt="Balloon" style="width:100% ; height:85%">
          </li> 
        </ul>
      </div>
    </div> -->
    <!--/sequence-theme-->
    <div class="container-fluid">
      <img class="mainImage" src="asset/images/mainWholeImg.png" alt="Main Image" style="">
    </div>
      <div class="container">
      <div class="row">
        <h3 class="products-heading">Curious to know us!</h3>
        <p>TechPrometheon Internet Private Limited, previously known Micronix Embedded Solutions operated for more than two years as training institute and research labs has now evolved as a Internet of things company.</p>
        <p>TechPrometheon is transforming how we interact with technology. We, the team of engineers and business strategists focus on the new era of smart connected devices, propelling them to the forefront of digital world. We are capitalizing over the convergence of IoT and Augmented Reality (AR) to make applications more interactive so that enterprises using them can improve services, operations and customer experience. </p>
        <p>Along with this, we have been offering learning and collaboration platform through our 'Technology knowledge center'.
            Going forward, we seek to differentiate ourselves through customer centric values-driven business and innovations, while balancing the interests of stakeholders and society.</p>
      </div>
    </div>

    <!-- Product start here -->
    <div class="container">
      <div class="row mar-b-60">
          <h3 class="products-heading">Checkout our inovative products!</h3>
        <div class="col-lg-6">

          <div class="about-testimonial boxed-style about-flexslider ">
            <section class="slider wow fadeInLeft">
              <div class="flexslider">
                <ul class="slides about-flex-slides">
                  <li>
                    <div class="about-testimonial-image ">
                      <img alt="" src="asset/images/App_icon_final.jpg">
                    </div>
                    <a class="about-testimonial-author" href="#">
                      Instereo
                    </a>
                    <span class="about-testimonial-company">
                      An augmented reality app!
                    </span>
                    <div class="about-testimonial-content">
                      <p class="about-testimonial-quote">
                        Entertainment and media companies are already entuastic about Augmented reality, 
                        have our sights creating better customer experiences! 
                      </p>
                    </div>
                  </li>
                  <li>
                    <div class="about-testimonial-image ">
                      <img alt="" src="asset/images/App_icon_final.jpg">
                    </div>
                    <a class="about-testimonial-author" href="#">
                      Instereo
                    </a>
                    <span class="about-testimonial-company">
                      An augmented reality app!
                    </span>
                    <div class="about-testimonial-content">
                      <p class="about-testimonial-quote">
                        Download an InsteroAR app and you can create wow user experience for your customer by showing engaging content on printed media!
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </section>
          </div>
          <!--testimonial end-->
        </div>

        <div class="col-lg-6">
          <!--testimonial start-->
          <div class="about-testimonial boxed-style about-flexslider ">
            <section class="slider wow fadeInRight">
              <div class="flexslider">
                <ul class="slides about-flex-slides">
                  <li>
                    <div class="about-testimonial-image ">
                      <img alt="" src="external/img/works/img11.jpg">
                    </div>
                    <a class="about-testimonial-author" href="#">
                      Parking Spot-bot
                    </a>
                    <span class="about-testimonial-company">
                      Real time car occupancy status of any parking lot!
                    </span>
                    <div class="about-testimonial-content">
                      <p class="about-testimonial-quote">
                        Parking spot-bot will help you with real time car detection at each parking lot,also has ability to facilate indoor navigation.
                      </p>
                    </div>
                  </li>
                  <li>
                    <div class="about-testimonial-image ">
                      <img alt="" src="external/img/works/img11.jpg">
                    </div>
                    <a class="about-testimonial-author" href="#">
                      Parking Spot-bot
                    </a>
                    <span class="about-testimonial-company">
                      Real time car occupancy status of any parking lot!
                    </span>
                    <div class="about-testimonial-content">
                      <p class="about-testimonial-quote">
                        Download our parking spot bot and I gurantee you that next time you wont be wasting time in searching for parking spaces.
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </section>
          </div>
          <!--testimonial end-->
        </div>

      </div>
    </div>
    <!-- Product end here -->

    <div class="bg-lg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 recent">
            <h3 class="recent-work">
              Offerings
            </h3>
            <p>Some of our work we have done earlier</p>
            <div id="owl-demo" class="owl-carousel owl-theme wow fadeIn">

              <div class="item view view-tenth">
                <img src="external/img/works/img8.jpg" alt="work Image">
                <div class="mask">
                  <p class="offering-heading">Internet of things: Communication Technologies</p>
                  <p class="offering-description">Learn to develop  IoT projects using must know communication technologies like Bluetooth, WiFi, LoraWAN, Zigbee etc.</p>
                  <a href=" https://www.facebook.com/InstereoAR/" target="_blank" class="info" data-toggle="tooltip" data-placement="top" title="facebook">
                    <i class="fa fa-facebook">
                    </i>
                  </a>
                  <a href="https://goo.gl/forms/YOCz5WYkNJgNJGO42" target="_blank" class="info" data-toggle="tooltip" data-placement="top" title="I'm Intrested">
                    <i class="fa fa-link">
                    </i>
                  </a>
                  <a href="https://www.linkedin.com/company-beta/13332174/" target="_blank" class="info" data-toggle="tooltip" data-placement="top" title="Linkdin">
                    <i class="fa fa-linkedin">
                    </i>
                  </a>
                </div>
              </div>
              <div class="item view view-tenth">
                <img src="external/img/works/img9.jpg" alt="work Image">
                <div class="mask">
                  <p class="offering-heading">8051 Microcontrllers, Arduino platform and their interfacings</p>
                  <p class="offering-description">Learn basic embedded system to develop mini projects using peripherals like LCD, switch, relay, timer, interrupts, UART and EEPROM</p>
                  <a href=" https://www.facebook.com/InstereoAR/" target="_blank" class="info" data-toggle="tooltip" data-placement="top" title="facebook">
                    <i class="fa fa-facebook">
                    </i>
                  </a>
                  <a href="https://goo.gl/forms/nxbo3gFFX55iugff1" target="_blank" class="info" data-toggle="tooltip" data-placement="top" title="I'm Intrested">
                    <i class="fa fa-link">
                    </i>
                  </a>
                  <a href="https://www.linkedin.com/company-beta/13332174/" target="_blank" class="info" data-toggle="tooltip" data-placement="top" title="Linkdin">
                    <i class="fa fa-linkedin">
                    </i>
                  </a>
                </div>
              </div>
                <div class="item view view-tenth">
                <img src="external/img/works/img11.jpg" alt="work Image">
                <div class="mask">
                  <p class="offering-heading">Architect your smart IOT device</p>
                  <p class="offering-description">This course covers embedded systems, arduino platform, raspberry pi to design and develop IoT applications which can interact with physical world.</p>
                  <a href=" https://www.facebook.com/InstereoAR/" target="_blank" class="info" data-toggle="tooltip" data-placement="top" title="facebook">
                    <i class="fa fa-facebook">
                    </i>
                  </a>
                  <a href="https://goo.gl/forms/RaDTosAlpOqv8qUD3" target="_blank" class="info" data-toggle="tooltip" data-placement="top" title="I'm Intrested">
                    <i class="fa fa-link">
                    </i>
                  </a>
                  <a href="https://www.linkedin.com/company-beta/13332174/" target="_blank" class="info" data-toggle="tooltip" data-placement="top" title="Linkdin">
                    <i class="fa fa-linkedin">
                    </i>
                  </a>
                </div>
              </div>
              <div class="item view view-tenth">
                <img src="external/img/works/img12.jpg" alt="work Image">
                <div class="mask">
                  <p class="offering-heading">Awt IOT Platform</p>
                  <p class="offering-description">Make your connected IoT devices interact with cloud applications easily and securely using Amazon Web Services</p>
                  <a href=" https://www.facebook.com/InstereoAR/" target="_blank" class="info" data-toggle="tooltip" data-placement="top" title="facebook">
                    <i class="fa fa-facebook">
                    </i>
                  </a>
                  <a href="https://goo.gl/forms/uYh1amfZRD3gtcCU2" target="_blank" class="info" data-toggle="tooltip" data-placement="top" title="I'm Intrested">
                    <i class="fa fa-link">
                    </i>
                  </a>
                  <a href="https://www.linkedin.com/company-beta/13332174/" target="_blank" class="info" data-toggle="tooltip" data-placement="top" title="Linkdin">
                    <i class="fa fa-linkedin">
                    </i>
                  </a>
                </div>
              </div>
              <div class="item view view-tenth">
                <img src="external/img/works/img13.jpg" alt="work Image">
                <div class="mask">
                  <p class="offering-heading">Peripheral interfacings with Raspberry Pi</p>
                  <p class="offering-description">You will learn how to set up up the Raspberry Pi environment, get a Linux operating system running, and write and execute device drivers. </p>
                                    <a href=" https://www.facebook.com/InstereoAR/" target="_blank" class="info" data-toggle="tooltip" data-placement="top" title="facebook">
                    <i class="fa fa-facebook">
                    </i>
                  </a>
                  <a href="https://goo.gl/forms/AjiT6vQQYIjd2Q8H3" target="_blank" class="info" data-toggle="tooltip" data-placement="top" title="I'm Intrested">
                    <i class="fa fa-link">
                    </i>
                  </a>
                  <a href="https://www.linkedin.com/company-beta/13332174/" target="_blank" class="info" data-toggle="tooltip" data-placement="top" title="Linkdin">
                    <i class="fa fa-linkedin">
                    </i>
                  </a>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
      <!--recent work end-->
    </div>

    <!-- How can we help you? starts -->
    <div id="home-services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>
              How can we help you?
            </h2>
          </div>

          <div class="col-md-6">
            <div class="h-service">
              <div class="icon-wrap ico-bg round-fifty wow fadeInDown">
                <i class="fa fa-question">
                </i>
              </div>
              <div class="h-service-content wow fadeInUp">
                <h3>
                  FAQ
                </h3>
                <p>
                  We have support for most Frequently asked questions. You can reach out to us for any query specific to our products.
                  <br>
                  <a href="html/faq.html">
                    Learn more
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-service">
              <div class="icon-wrap ico-bg round-fifty wow fadeInDown">
                <i class="fa fa-h-square">
                </i>
              </div>
              <div class="h-service-content wow fadeInUp">
                <h3>
                  NEED SUPPORT?
                </h3>
                <p>
                  In order to support our products and services, we have team that can quickly respond to customer situation and deliver comprehensive support. Tech Prometheon believes in high quality support to their each customer segment.
                  <br>
                  <a href="html/contact.html">
                    Learn more
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- /row -->

      </div>
      <!-- /container -->
    </div>
    <!-- How can we help you? starts -->

    <!--SERVICE START HERE-->
    <div class="gray-box">
      <div class="container">
        <div class="row">
          <div class="text-center feature-head">
            <h1>
              Our Services
            </h1>
            <p>
              Some of our quality and quick services!
            </p>
          </div>
          <div class="services">
            <div class="col-lg-6 col-sm-6">
              <div class="icon-wrap ico-bg round-five wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".1s">
                <i class="fa fa-handshake-o">
                </i>
              </div>
              <div class="content">
                <h3 class="title">
                  Assurance Services
                </h3>
                <p>
                    Mobile and internet based business models are converging with big data, Artificial Intelligence (AI), Augmented Reality(AR) etc. and experiencing digital transformation. A small change in a device or process impacts connected downstream systems. This calls for maximum test coverage. We assure you right quality. Accelerate your time-to-market with us as your trusted testing partner.
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="icon-wrap ico-bg round-five wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".3s">
                <i class="fa fa-desktop">
                </i>
              </div>
              <div class="content">
                <h3 class="title">
                  System Integration
                </h3>
                <p>
                  We design and deliver the best possible solutions that can be integrated with your existing designs or to meet your requirements. Having exprtise in embedded software, database, mobile app and game development, we are well equipped to bring required changes and integrate various modules together. Team has expertise in and offering system integration built around sensors, signal conditioning cards and modules like GSM, GPS, Bluetooth, Wi-Fi and many more. You specify the requirements and we offer highly reliable, cost effective solutions.
                </p>
              </div>
            </div>
          </div>
          <div class="services">
            <div class="col-lg-6 col-sm-6">
              <div class="icon-wrap ico-bg round-five wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".5s">
                <i class="fa fa-i-cursor">
                </i>
              </div>
              <div class="content">
                <h3 class="title">
                  IoT solutions for smart cities
                </h3>
                <p>
                  Create the added value to city services by storing and analysing the data of parking lots, public transport, security, lighting, electricity and water supply networks, waste management etc. to monitor and predict events for immediate problem solving
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="icon-wrap ico-bg round-five wow zoomIn" data-wow-duration="1.5s" data-wow-delay=".7s">
                <i class="fa fa-product-hunt">
                </i>
              </div>
              <div class="content">
                <h3 class="title">
                  Product Analytics
                </h3>
                <p>
                  Analyze how your customers use your products. Get insights based on data analysis to take smarter actions and improve your products with Machine Learning and AI techniques for predictive maintenance and management.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!--SERVICE Ends HERE-->

    <!--footer start-->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-3">
            <div class="page-footer wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
              <h1>
                Our Company
              </h1>
              <ul class="page-footer-list">
                <li>
                  <i class="fa fa-angle-right"></i>
                  <a href="index.html">Home</a>
                </li>
                <li>
                  <i class="fa fa-angle-right"></i>
                  <a href="html/faq.html">Support</a>
                </li>
                <li>
                  <i class="fa fa-angle-right"></i>
                  <a href="html/faq.html">FAQ</a>
                </li>
                <li>
                  <i class="fa fa-angle-right"></i>
                  <a href="html/contact.html">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-9 col-sm-9">
            <div class="text-footer wow fadeInUp" data-wow-duration="2s" data-wow-delay=".7s">
              <h1>
                Terms and Condition
              </h1>
              <p class="terms-cond">
                We believe it is important you know how we treat the information received from you on the internet.
In general, you can visit Tech Prometheon Internet Private Limited web portals without telling us who you are or revealing any information about yourself. Our Web servers collect the domain names, not the e-mail addresses, of visitors. This information is aggregated to measure the number of visits, average time spent on the site, pages viewed, etc. Tech Prometheon Internet Private Limited uses this information to measure the use of our site and to improve the contents. In addition, we may use third party services such as Google Analytics that collect, monitor and analyze this type of information in order to improve our Services' functionality. These third party service providers have their own privacy policies addressing how they use such information. Your accessing services signify your unconditional consent to allow the collection of your domain names.
              </p>
              <p class="terms-cond">
                  There are times, however, when we may need information from you. When information is needed, we will try (but are not obligated) to let you know at the time of collection, how we will use the personal information. Usually, the personal information we collect is used only by us to respond to your enquiry or to provide you custom information about our offerings in support of your concerns.
              </p>
              <p class="terms-cond">
                Tech Prometheon Internet Pvt. Ltd. is sensitive to data privacy issues maintaining fairness and integrity in all operations. The contents on this website are for the business and reference purpose. Content in the blogs are well researched, filtered, reviewed before posting. If you are using any content from the website for reference, author should be acknowledged under suitable headings.
By accessing the website, you confirm your acceptance to privacy policy.
              </p>
              <div class="copyright">
                <p>&copy; Copyright - Tech Prometheon Pvt Ltd.</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end -->


    <script src="external/js/jquery-1.8.3.min.js">
    </script>
    <script src="external/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="external/js/hover-dropdown.js">
    </script>
    <script defer src="external/js/jquery.flexslider.js">
    </script>
    <script type="text/javascript" src="external/assets/bxslider/jquery.bxslider.js">
    </script>

    <script type="text/javascript" src="external/js/jquery.parallax-1.1.3.js">
    </script>
    <script src="external/js/wow.min.js">
    </script>
    <script src="external/assets/owlcarousel/owl.carousel.js">
    </script>

    <script src="external/js/jquery.easing.min.js">
    </script>
    <script src="external/js/link-hover.js">
    </script>
    <script src="external/js/superfish.js">
    </script>
    <script type="text/javascript" src="external/js/parallax-slider/jquery.cslider.js">
    </script>
    <script type="text/javascript">
      $(function() {

        $('#da-slider').cslider({
          autoplay    : true,
          bgincrement : 100
        });

      });
    </script>



    <!--common script for all pages-->
    <script src="external/js/common-scripts.js">
    </script>

    <!-- Sequence Moder -slider js -->
    <!-- <script src="external/js/seq-slider/jquery.sequence-min.js">
    </script>
    <script src="external/js/seq-slider/sequencejs-options.sliding-horizontal-parallax.js">
    </script> -->
    <!-- end of sequence slider js-->
    

    <script type="text/javascript">
      jQuery(document).ready(function() {


        $('.bxslider1').bxSlider({
          minSlides: 5,
          maxSlides: 6,
          slideWidth: 360,
          slideMargin: 2,
          moveSlides: 1,
          responsive: true,
          nextSelector: '#slider-next',
          prevSelector: '#slider-prev',
          nextText: 'Onward →',
          prevText: '← Go back'
        });

      });


    </script>


    <script>
      $('a.info').tooltip();

      $(window).load(function() {
        $('.flexslider').flexslider({
          animation: "slide",
          slideshow: false,
          start: function(slider) {
            $('body').removeClass('loading');
          }
        });
      });

      $(document).ready(function() {

        $("#owl-demo").owlCarousel({

          items : 4

        });
      });

      jQuery(document).ready(function(){
        jQuery('ul.superfish').superfish();
      });

      new WOW().init();


    </script>

  </body>
</html>
