<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="tech prometheon contact us details">
    <meta name="author" content="cosmic">
    <meta name="keywords" content="tech , prometheon , iot">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>
      Techprometheon | Contact
    </title>
    <link rel="shortcut icon" href="../asset/images/logo.png">

    <!-- Bootstrap core CSS -->
    <link href="../external/css/bootstrap.min.css" rel="stylesheet">
    <link href="../external/css/theme.css" rel="stylesheet">
    <link href="../external/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="../external/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="../external/css/flexslider.css"/>
    <link href="../external/assets/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../external/css/animate.css">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>


    <!-- Custom styles for this template -->
    <link href="../external/css/style.css" rel="stylesheet">
    <link href="../external/css/style-responsive.css" rel="stylesheet" />
    <script type="text/javascript" src="../js/contact.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
<script src="js/html5shiv.js">
</script>
<script src="js/respond.min.js">
</script>
<![endif]-->

    <link rel="stylesheet" href="../css/application.css">

  </head>

  <body ng-app="contactApp" ng-controller="contactCtrl">
    <!--header start-->
    <header class="head-section">
      <div class="navbar navbar-default navbar-static-top">
          <div class="navbar-header">
              <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
               <a href="../index.html"><img src="../asset/images/logo.png" class="logo" alt="Logo">
                <a class="navbar-brand nav-logo" href="../index.html">Tech <span>Prometheon</span>
                </a>
              </a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="../index.html">Product</a>
                </li>
                <li>
                    <a href="../index.html">Offerings</a>
                </li>
                <li>
                    <a href="faq.html">Support/FAQ</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>

            </ul>
          </div>
      </div>
    </header>
    <!-- header ends -->

    <!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
              Contacts
            </h1>
          </div>
          <div class="col-lg-8 col-sm-8">
            <ol class="breadcrumb pull-right">
              <li>
                <a href="../index.html">
                  Home
                </a>
              </li>
              <li class="active">
                Contacts
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->

    <!--container start-->
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-5 address">
          <section class="contact-infos">
            <h4 class="title custom-font text-black">
              ADDRESS
            </h4>
            <address>
              08, Sara Residency,
              <br>
              Behind Balewadi Stadium Hostels ,
              <br>
              Pune, Maharashtra-411045, India
            </address>
          </section>
          <section class="contact-infos">
            <h4 class="title custom-font text-black">
              Mailing Contact
            </h4>
            <p>
              techprometheon@gmail.com
              <br>
              enquiry@techprometheon.com
              <br>
            </p>
          </section>
          <section class="contact-infos">
            <h4>
              TELEPHONE
            </h4>
            <p>
              <i class="icon-phone">
              </i>
              +91 7506218227
            </p>

            <p>
              <i class="icon-phone">
              </i>
              +91 7506218227
            </p>

          </section>
        </div>
        <div class="col-lg-7 col-sm-7 address">
          <h4>
            Drop us a line so that we can hear from you
          </h4>
          <div class="contact-form">
            <form role="form" name="contactForm">
              <div class="form-group">
                <label for="name">Name*</label>
              <input type="text" name="name" ng-model="name"  class="form-control" required>
              <span style="color:red" ng-show="contactForm.name.$dirty && contactForm.name.$invalid">
              <span ng-show="contactForm.name.$error.required">Username is required.</span>
              </span>
              </div>
            <div class="form-group">
               <label for="email">Email*</label>
              <input class="form-control" type="email" name="email" ng-model="email" required>
              <span style="color:red" ng-show="contactForm.email.$dirty && contactForm.email.$invalid">	
              <span ng-show="contactForm.email.$error.required">Email is required.</span>
              <span ng-show="contactForm.email.$error.email">Invalid email address.</span>
              </span>
            </div>
            
            <div class="form-group">
               <label for="phone">Phone*</label>
              <input class="form-control" type="number" name="number" ng-model="number" required>
              <span style="color:red" ng-show="contactForm.number.$dirty && contactForm.number.$invalid">	
              <span ng-show="contactForm.number.$error.required">Number is required.</span>
              </span>
            </div>
            <div class="form-group">
              <label for="message">
                Message*
              </label>
              <textarea placeholder="" rows="5" name="message" ng-model="message" class="form-control" required>
              </textarea>
              <span style="color:red" ng-show="contactForm.message.$dirty && contactForm.message.$invalid">	
              <span ng-show="contactForm.message.$error.required">Message is required.</span>
              </span>
            </div>
              <input style="width: 20%" ng-disabled="contactForm.name.$dirty && contactForm.name.$invalid ||
                                  contactForm.email.$dirty && contactForm.email.$invalid ||
                                  contactForm.message.$dirty && contactForm.message.$invalid ||
                                  contactForm.number.$dirty && contactForm.number.$invalid"
                                   class="btn btn-info" type="submit" ng-click="onSubmitContact()">
            </form>

          </div>
        </div>
      </div>

    </div>
    <!--container Ends here-->

    <!--footer start-->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-3">
            <div class="page-footer wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s">
              <h1>
                Our Company
              </h1>
              <ul class="page-footer-list">
                <li>
                  <i class="fa fa-angle-right"></i>
                  <a href="index.html">Home</a>
                </li>
                <li>
                  <i class="fa fa-angle-right"></i>
                  <a href="html/faq.html">Support</a>
                </li>
                <li>
                  <i class="fa fa-angle-right"></i>
                  <a href="html/faq.html">FAQ</a>
                </li>
                <li>
                  <i class="fa fa-angle-right"></i>
                  <a href="html/contact.html">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-9 col-sm-9">
            <div class="text-footer wow fadeInUp" data-wow-duration="2s" data-wow-delay=".7s">
              <h1>
                Terms and Condition
              </h1>
              <p class="terms-cond">
                We believe it is important you know how we treat the information received from you on the internet.
In general, you can visit Tech Prometheon Internet Private Limited web portals without telling us who you are or revealing any information about yourself. Our Web servers collect the domain names, not the e-mail addresses, of visitors. This information is aggregated to measure the number of visits, average time spent on the site, pages viewed, etc. Tech Prometheon Internet Private Limited uses this information to measure the use of our site and to improve the contents. In addition, we may use third party services such as Google Analytics that collect, monitor and analyze this type of information in order to improve our Services' functionality. These third party service providers have their own privacy policies addressing how they use such information. Your accessing services signify your unconditional consent to allow the collection of your domain names.
              </p>
              <p class="terms-cond">
                  There are times, however, when we may need information from you. When information is needed, we will try (but are not obligated) to let you know at the time of collection, how we will use the personal information. Usually, the personal information we collect is used only by us to respond to your enquiry or to provide you custom information about our offerings in support of your concerns.
              </p>
              <p class="terms-cond">
                Tech Prometheon Internet Pvt. Ltd. is sensitive to data privacy issues maintaining fairness and integrity in all operations. The contents on this website are for the business and reference purpose. Content in the blogs are well researched, filtered, reviewed before posting. If you are using any content from the website for reference, author should be acknowledged under suitable headings.
By accessing the website, you confirm your acceptance to privacy policy.
              </p>
              <div class="copyright">
                <p>&copy; Copyright - Tech Prometheon Pvt Ltd.</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end -->

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="../external/js/jquery.js">
    </script>
    <script src="../external/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="../external/js/hover-dropdown.js">
    </script>
    <script type="text/javascript" src="../external/assets/bxslider/jquery.bxslider.js">
    </script>


    <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&AMP;sensor=false">
    </script> -->

    <!--common script for all pages-->
    <script src="../external/js/common-scripts.js">
    </script>
    <script src="../external/js/wow.min.js">
    </script>
    <script>
      wow = new WOW(
        {
          boxClass:     'wow',      // default
          animateClass: 'animated', // default
          offset:       0          // default
        }
      )
        wow.init();
    </script>


    <script>
      $(document).ready(function() {
        //Set the carousel options
        $('#quote-carousel').carousel({
          pause: true,
          interval: 4000,
        }
                                     );
      }
                       );

      // //google map
      // function initialize() {
      //   var myLatlng = new google.maps.LatLng(51.508742,-0.120850);
      //   var mapOptions = {
      //     zoom: 5,
      //     center: myLatlng,
      //     mapTypeId: google.maps.MapTypeId.ROADMAP
      //   }
      //       var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
      //   var marker = new google.maps.Marker({
      //     position: myLatlng,
      //     map: map,
      //     title: 'Contact'
      //   }
      //                                      );
      // }
      // google.maps.event.addDomListener(window, 'load', initialize);



    </script>

  </body>
</html>
